body {
  background-color: #404;
  background-image: url(08c336777b867151f20212287be2e7a1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

